{% extends 'base.html' %}
{% block content %}

<br>
<br>
<br>
<h1 class='abt_title'> About Us </h1> 
</div>
<br>
<br>

<br>
<br>

<div id='home_background' class="my_jumbo jumbotron jumbotron-fluid">
  <div  class="container">
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam libero est, consectetur at tincidunt nec, commodo eu erat. Donec volutpat id elit quis tristique. Donec id lectus nibh. Aenean quis gravida massa. Ut et sodales odio, non maximus eros. Vestibulum viverra ultricies justo ac vulputate. Fusce dignissim nisl nulla, et venenatis velit gravida bibendum. Proin in felis a arcu rhoncus ullamcorper. Vivamus fringilla tempor elit sed cursus. Nam hendrerit varius nulla facilisis laoreet. Nullam vehicula aliquet sodales. </p>
    <p>Sed rhoncus mi vitae vestibulum gravida. Mauris posuere diam vitae aliquet ultricies. Nunc scelerisque aliquet nulla ut congue. Nam aliquet arcu et purus auctor, ut feugiat nisi faucibus. In maximus magna gravida, laoreet sapien at, consectetur lectus. Integer molestie tortor non eleifend laoreet. Mauris vitae mi at diam viverra hendrerit. Aenean mollis rutrum imperdiet. Nulla eget magna molestie, pellentesque nunc id, malesuada odio. Nullam mattis gravida sem. Duis non nisl vitae ex vulputate facilisis. Curabitur vel lorem eget leo congue vehicula. Maecenas vel turpis et sapien volutpat posuere et eu odio. Sed sed maximus erat.</p>
    
  </div> 

<div class="container mt-5 mb-5">
        <h1 class="fred_link display-4">Links</h1>
        <div class="row mt-4">
            <div class="col-4">
                <div class="card my_shadow" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">null</h5>
                        <p class="fred_link card-text">null</p>
                        <a target='blank'href='' class="btn btn-dark">null</a>
                    </div>
                </div>
            </div>
<br>
            <div class="col-4">
                <div class="card my_shadow" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">null</h5>
                        <p class="card-text">null</p>
                        <a target='blank'href="" class="btn btn-dark">null</a>
                    </div>
                </div>
            </div>
<br>
            <div class="col-4">
                <div class="card my_shadow" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">null</h5>
                        <p class="card-text">null</p>
                        <a target='blank'href="" class="btn btn-dark">null</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>




{% endblock %}