{% extends 'base.html' %}
{% block content %}

<br>
<br>
<br>
<h1 id="logo_about"class='abt_title'> About Us </h1> 
</div>
<br>
<br>

<br>
<br>

<div id='home_background' class="my_jumbo jumbotron jumbotron-fluid">
  <div  class="container">
    <p>Here at MEALBURNER we understand how difficult it is to improve you health and reach your fitness goals. Whether those goals include losing weight, building muscle, or improving your eating. This platform allows you to hold yourself accountable in a myraid of ways. Some of these ways include: input meals and their nutritional information, tracking your activites and exercises, as well as including detailed visualizations of your eating patterns. </p>
    <p>MEALBURNER is a tool for consumers. It's goal is to be as useable as possible for the widest range of users. Health and Fitness come down to one key factor, consistency. MEALBURNER's goal is to keep you as consistent as possible, for as long as possible. The road to health and fitness is not linear, but with MEALBURNER it can get as close to a straightforward path as possible. Below are a few hepful tools and links to jumpstart you on your fitness goal.</p>
    
  </div> 

<div class="container mt-5 mb-5">
        <h1 class="fred_link display-4">Links</h1>
        <div class="row mt-4">
            <div class="col-4">
                <div class="card my_shadow" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">CDC Information on Healthy Eating</h5>
                        <p class="fred_link card-text">CDC</p>
                        <a target='blank'href='https://www.cdc.gov/healthyweight/calories/index.html' class="btn btn-dark">Link</a>
                    </div>
                </div>
            </div>
<br>
            <div class="col-4">
                <div class="card my_shadow" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Harvard Health on Nutrition</h5>
                        <p class="card-text">Harvard</p>
                        <a target='blank'href="https://www.hsph.harvard.edu/nutritionsource/" class="btn btn-dark">Link</a>
                    </div>
                </div>
            </div>
<br>
            <div class="col-4">
                <div class="card my_shadow" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Calculate your BMI</h5>
                        <p class="card-text">BMI</p>
                        <a target='blank'href="https://www.nhlbi.nih.gov/health/educational/lose_wt/BMI/bmicalc.htm" class="btn btn-dark">Link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}