{% extends 'base.html' %}
{% block content %}

<br>
    <br>
    <div class="container">
        <form class="add_form" action="{% url 'profile' %}" method="POST">
            {% csrf_token %}
            
            <a class="btn_back btn btn-dark" href='http://127.0.0.1:8000/'>Go Back</a>
            <br>
            <br>
            <div class="form-group">
                <label for="name">Username</label>
                <input name="username" type="text" class="name_form form-control">
            </div>
            <div class="form-group">
              <label for="">First Name</label>
              <input name="firstname" type="text" class="class_form form-control">
            </div>
            <div class="form-group">
                <label for="">Last Name</label>
                <input name="lastname" type="text" class='class_form form-control'>
            </div>
            <div class="form-group">
                <label for="">Weight</label>
                <input name="weight" type="number" step="0.01" class="price_form form-control">
            </div>
            <div class='form-group'>
                <label for=''>Height</label> 
                <input name='height' type='number' step='0.01' class="price_form form-control">
            </div>
            <div class="form-group">
                <label for="">Age</label>
                <input name="age" type="number" step="0.01" class="price_form form-control">
            </div>
            <div class="form-group">
                <label for="">Activity Level</label>
                <input name="activity_level" type="text" class='class_form form-control'>
            </div>
            <div class='form-group'>
                <label for=''>Calorie Intake Goal</label>
                <input name='calorie_intake_goal' type='number' class='price_form form-control'>
            </div>
            <div class='form-group'>
                <label for=''>Calories Burned Goal</label>
                <input name='calorie_output_goal' type='number' class='price_form form-control'>
            </div>
            <div class='form-group'>
                <label for=''>Regular Exercises</label>
                <input name='regular_exercises' type='text' class='class_form form-control'>
            </div>
            <div class='form-group'>
                <label for''>Password</label>
                <input name='password' type=password class='class_form form form-control'>
            <div class="form-group">
                <input type="submit" class="success_button btn btn-outline-success form_submit ">
            </div>
        </form>
    </div>

{% comment %} @login_required
login_request = home in settings    {% endcomment %}
{% endblock content %}