{% extends 'base.html' %}

{% block content %}

    <br>
    <br>
    <div class="wholesomecontainer">
        <a class="btn btn-info" href="{% url 'view' %}">Daily Activities</a>
        <form class="add_form" action="{% url 'create_activity' %}" method="POST">
            {% csrf_token %}
            <br>
            <br>
            <div class="form-group">
                <label for="activity">Activity:</label>
                <input name="activity" type="text" class="form-control" id="activity_input" placeholder="enter the name of the activity here...">
            </div>

            <div class="form-group">
                <label for="duration">Duration:</label>
                <input name="duration" type="number" class="form-control" id="duration_input" placeholder="enter the duration of your activity here...">
            </div>

            <div class="form-group">
                <label for="calories_burned">Calories Burned:</label>
                <input name="calories_burned" type="number" class="form-control" id="calories_burned_input" placeholder="enter the amount of calories that you burned during your activity here...">
            </div>

            <button type="submit" class="btn btn-success">submit</button>
            
        </form>

{% endblock content %}
