{% extends 'base.html' %}
{% block content %}

<br>
    <br>
    <div class="container">
        <form class="add_form" action="{% url 'profile' %}" method="POST">
            {% csrf_token %}
            
            <a class="btn_back btn btn-dark" href="{% url 'view' %}">Go Back</a>
            <br>
            <br>
            <div class="form-group">
                <label for="name">Username</label>
                <input name="username" type="text" class="name_form form-control">
            </div>
            <div class="form-group">
              <label for="">First Name</label>
              <input name="firstname" type="text" class="class_form form-control">
            </div>
            <div class="form-group">
                <label for="">Last Name</label>
                <input name="lastname" type="text" class='class_form form-control'>
            </div>
            <div class="form-group">
                <label for="">Weight</label>
                <input name="weight" type="number" step="0.01" class="price_form form-control">
            </div>
            <div class='form-group'>
                <label for=''>Height</label> 
                <input name='height' type='number' step='0.01' class="price_form form-control">
            </div>
            <div class="form-group">
                <label for="">Age</label>
                <input name="age" type="number" step="0.01" class="price_form form-control">
            </div>
            <div class="form-group">
                <label for="">Activity Level</label>
                <input name="age" type="text" class='class_form form-control'>
            </div>
            <div class="form-group">
                <input type="submit" class="success_button btn btn-outline-success form_submit ">
            </div>
        </form>
    </div>

{% endblock content %}