{% extends 'base.html' %}

{% block content %}

    <div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-12">Meals eaten on {{ meal.date }}</div>
        </div>
        <div class="row">
            <div class="col-12">
                <a href="{% url 'create_meal' %}" class="btn btn-primary add_item">Add a meal</a>
            </div>
        </div>
        <br>
        <br>
        {% if daily_meals %}
        <div class="list_table">
            <div class="row">
                <div class="col-3">meal:</div>
                <div class="col-2">calories:</div>
                <div class="col-2">protein:</div>
                <div class="col-2">carbohydrates:</div>
                <div class="col-2">fats:</div>
                <div class="col-2">meal type:</div>
                <div class="col-3">date:</div>
                <div class="col-2"> </div>
                <br>
            </div>

            {% for meal in daily_meals %}
            
            <div class="row">
                <div class="col-3">
                    <a href="{% url 'update_meal' meal.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ meal.id }}">
                        <input type="hidden" name="update" value=True>
                        <input class="td_button btn btn-success" type="submit" value="{{ meal.food_name }}">
                    </a>
                </div>

                <div class="col-2">
                    {{ meal.calories }}
                </div>

                <div class="col-2">
                    {{ meal.protein }}
                </div> 
                
                <div class="col-2">
                    {{ meal.carbohydrates }}
                </div> 
                
                <div class="col-2">
                    {{ meal.fats }}
                </div>

                <div class="col-2">
                    {{ meal.meal_type }}
                </div>

                <div class="col-3">
                    {{ meal.date }}
                </div>

                <div class="col-2">
                    <form action="{% url 'delete_meal' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ meal.id }}">
                        <input type="hidden" name="delete_meal" value=True>
                        <input class="td_button btn btn-success" type="submit" value="Delete Meal">
                    </form>
                </div>
            </div>

            {% endfor %}

        </div>
    

        {% else %}
        <div class="list_table">
            <div class="row">
                <div class="col-3">meal:</div>
                <div class="col-2">calories:</div>
                <div class="col-2">meal type:</div>
                <div class="col-3">date:</div>
                <div class="col-2"> </div>
                <br>
            </div>

            <div class="row">
                <div class="col-3">You haven't added any meals yet</div>

                <div class="col-2">get</div>

                <div class="col-2">to</div>

                <div class="col-3">work</div>

                <div class="col-2"> </div>
            </div>
        </div>

        {% endif %}


############################################################################################

        <br>
        <br>
        <div class="row">
            <div class="col-12">Activities on {{ activity.date }}</div>
        </div>
        <div class="row">
            <div class="col-12">
                <a href="{% url 'create_activity' %}" class="btn btn-primary add_item">Add an activity</a>
            </div>
        </div>
        <br>
        <br>

        {% if daily_activities %}
            <div class="list_table">
                <div class="row">
                    <div class="col-3">activity:</div>
                    <div class="col-2">duration:</div>
                    <div class="col-2">calories burned:</div>
                    <div class="col-3">date:</div>
                    <div class="col-2"> </div>
                    <br>
                </div>

                {% for activity in daily_activities %}
                        
                <div class="row">
                    <div class="col-3">
                        <a href="{% url 'update_activity' activity.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ activity.id }}">
                            <input type="hidden" name="update" value=True>
                            <input class="td_button btn btn-success" type="submit" value="{{ activity.activity }}">
                        </a>
                    </div>
                    
                    <div class="col-2">
                        {{ activity.duration }}
                    </div>

                    <div class="col-2">
                        {{ activity.calories_burned }}
                    </div>

                    <div class="col-3">
                        {{ activity.date }}
                    </div>

                    <div class="col-2">
                        <form action="{% url 'delete_activity' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ activity.id }}">
                            <input type="hidden" name="delete_activity" value=True>
                            <input class="td_button btn btn-success" type="submit" value="Delete activity">
                        </form>
                    </div>
                </div>

                {% endfor %}
        
            </div>

        {% else %}
        <div class="list_table">
            <div class="row">
                <div class="col-3">activity:</div>
                <div class="col-2">duration:</div>
                <div class="col-3">calories burned:</div>
                <div class="col-3">date:</div>
                <div class="col-2"> </div>
                <br>
            </div>

            <div class="row">
                <div class="col-3">You haven't added any activities yet</div>

                <div class="col-2">get</div>

                <div class="col-2">to</div>

                <div class="col-3">work</div>

                <div class="col-2"> </div>
            </div>
        </div>

        {% endif %}

        <br>
        <br>
        <div class="row">
            <div class="col-12">your caloric balance is currently at {{ total }}</div>
        </div>

    </div>
    <br><br><br><br><br>
################
{% endblock content %}