{% extends 'base.html' %}
{% load crispy_forms_tags %}



{% block content %}


<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">

      <div class="innercover">
        <h1 class="cover-heading">MEALBURNER</h1>
        <br>
        <p class="lead">
            
        {% if user.is_authenticated %}
          <h3>Hello {{ user.username }}</h3>
          <br>
          <br>
          <a class="btn_back btn btn-dark" href="{% url 'logout' %}">Logout</a>
         
        {% else %}
          <h4>Welcome! Log in or Create an Account</h4>
          <br>
          <br>
          <a class="btn_back btn btn-dark" href="{% url 'login' %}">Login</a>
          {{ form|crispy }}
        {% endif %}
            
        </p>

        <p class="lead"><a class="btn btn-lg btn-info" href={% url 'about' %}>Learn
        more</a></p>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="mastfoot">
        <div class="inner">
          <!-- Validation -->

          <p><a href=
          "http://validator.w3.org/check?uri=http%3A%2F%2Fbootsnipp.com%2Fiframe%2Fg6GWQ"
          target="_blank"><small>HTML</small><sup>5</sup></a></p>
          
          
          <p><a href=
          "https://github.com/twbs/bootlint"
          target="_blank"><small>Checked with Bootlint</small></a></p>          
      
          

          <p>© 2014 Your Name ~ <a href=
          "http://getbootstrap.com/">Bootstrap</a></p>
        </div>
      </div>
    </div>
</div>
</div>







{% endblock %}

