{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<br>
<div id="header">
        <a id="logo_profile">{{ user.username }}'s Profile</a>
</div>
<br>
<br>
<div id='main_prof'class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
                            {% comment %} <div class="file btn btn-lg btn-primary">
                                Change Photo
                                <input type="file" name="file"/>
                            </div> {% endcomment %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                        <p id='first_last'>{{ profile.firstname }}</p> <p id='first_last'>{{ profile.lastname }}</p>
                                    </h5>
                                    <h6>
                                        
                                    </h6>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " id="profile-tab" data-toggle="tab" action = url href="#profile" role="tab" aria-controls="profile" aria-selected="false">Nutrition Information</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <p></p>
                            <a class="btn btn-light" href="{% url 'view' %}">Activity and Meal History</a><br>
                            <br>
                            <a class="btn btn-light" href="{% url 'create_meal' %}">Create a Meal</a><br>
                            <br>
                            <a class="btn btn-light" href="{% url 'create_activity' %}">Create an Acitvity</a><br>
                            <br>
                            <a class="btn btn-light" href="{% url 'view_cal' %}">View your Calories per Day</a><br>
                            <br>
                            <p></p>
                            <a href=""></a><br/>
                            <a href=""></a><br/>
                            <a href=""></a><br/>
                            <a href=""></a><br/>
                            <a href=""></a><br/>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <br>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label id='user_stat'>Username</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p id='user_stat'>{{ user.username }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label id='user_stat'>Weight</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p id='user_stat'>{{ profile.weight }} lbs</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label id='user_stat'>Height</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p id='user_stat'>{{ profile.height }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label id='user_stat'>Age</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p id='user_stat'>{{ profile.age }} years old</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label id='user_stat'>Activity Level</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p id='user_stat'>{{ profile.activity_level }}</p>
                                            </div>
                                        </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <br>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label id='user_stat2'>Daily Desired Amount of Calories Consumed</label>
                                            </div>
                                            <br>
                                            <div class="col-md-6">
                                                <p id='user_stat2'>{{ profile.calorie_intake_goal }} calories</p>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label id='user_stat2'>Daily Desired Amount of Calories Burned</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p id='user_stat2'>{{ profile.calorie_output_goal }} calories</p>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label id='user_stat2'>Favorite Exercise</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p id='user_stat2'>{{ profile.regular_exercises }}</p>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label id='user_stat2'>Fitness Goal</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p id='user_stat2'>{{ profile.fitness_goal }}</p>
                                            </div>
                                        </div>
                                        

                            </div>
                        </div>
                    </div>
                </div>
            </form>           
        </div>
        

{% endblock content %}