{% extends 'base.html' %}

{% block content %}

    <br>
    <br>
    <div class="wholesomecontainer">
        <a class="btn btn-info" href="{% url 'view' %}">Daily Meals</a>
        <form class="add_form" action="{% url 'update' meal.id %}" method="POST">
            {% csrf_token %}
            <br>
            <br>
            <div class="form-group">
                <label for="food_name">food name:</label>
                <input name="food_name" type="text" class="form-control" id="food_name_input" value="{{ meal.food_name }}">
            </div>

            <div class="form-group">
                <label for="calories">calories:</label>
                <input name="calories" type="number" class="form-control" id="calories_input" value="{{ meal.calories }}">
            </div>

            <div class="form-group">
                <label for="meal_type">meal type:</label>
                <select name="meal_type" class="form-control" id="meal_type_input">
                    <option>breakfast</option>
                    <option>brunch</option>
                    <option>lunch</option>
                    <option>dinner</option>
                    <option>snack</option>
                </select>
            </div>


            <button type="submit" class="btn btn-success">submit</button>
            
        </form>

{% endblock content %}
